{% extends "network/base.html" %}
{% load static %}

{% block title %}Favorites{% endblock %}

{% block left-menu %}
{% endblock %}

{% block right-menu %}
{% endblock %}

{% block feed %}

<div class="home-div">
        <div class="container mt-5">
            <h2>Your Favorite Recipes</h2>
            <div class="row">
                {% for favorite in favorites %}
                    <!-- Recipe Card -->
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{ favorite.recipe.images.url }}" alt="{{ favorite.recipe.title }}" class="card-img-top" style="height: 400px;">
                            <div class="card-body" style="background-color: #f9f1e7">
                                <h5 class="card-title overflow-hidden text-truncate">{{ favorite.recipe.title }}</h5>
                                <div class="card-text overflow-hidden text-truncate" style="max-height: 3em;">
                                    {{ favorite.recipe.description }}
                                </div>
                                <br>
                                <a href="{% url 'network:view-recipe' favorite.recipe.id %}" class="custom-btn-style">View Recipe</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
