body {
  background-color: #f4f4f4;
}

.container {
  padding-top: 5%;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea.form-control {
  height: auto;
}

.btn-custom {
  width: 150px;
  background-color: #ff8c00;
  border-color: #ff8c00;
  color: white;
}

.btn-custom:hover {
  background-color: #e67e22;
  border-color: #e67e22;
}

label {
  color: #333;
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
}

select {
  display: block;
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
